NEXT_PUBLIC_SUPABASE_URL=https://sdfrsjqserspcfwjiqro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkZnJzanFzZXJzcGNmd2ppcXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1OTc1MTYsImV4cCI6MjA5MTE3MzUxNn0.cO1wX27MlQxLL1md53tboFPkzzZOZJExQ2krULdaMK4
NEXT_PUBLIC_API_URL=http://localhost:8000
