fastapi
uvicorn[standard]
python-multipart
celery[redis]
redis
supabase
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
pydantic[email]
Pillow
easyocr
transformers
torch
xgboost
scikit-learn
pandas
numpy
langchain
langchain-community
httpx
python-dotenv
